@use "../../styles/variables";

.profile-grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

    .profile-card {
        width: 48%;
        height: fit-content;

        background: #E2ECFA;
        padding: 1.5rem;
        border: 0.5px solid #727475;
        border-radius: 10px;
        margin-bottom: 2rem;

        .profile-title {
            width: 100%;
            display: flex;
            gap: 15px;
            align-items: center;
            color: #121729;

            svg {
                font-size: 1.4rem;
            }

            span {
                font-size: 1.5rem;
                font-weight: 600;
                letter-spacing: 1.2px;
            }
        }
    }


    .profile-img-con {
        width: fit-content;
        height: fit-content;
        margin: 20px 0;

        .profile-img {
            width: 6rem;
            height: 6rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .profile-text-con {
        width: 100%;
        margin: 20px 0;

        .profile-texts{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;


            .txt-label{
                font-weight: 600;
            }

            .txt{
                color: #404244;
            }
        }

    }


    .profile-btns{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .profile-edit-btn{
            width: fit-content;
            padding: 0.3rem 1rem;
            background: #8699a3;
            display: flex;
            gap: 5px;
            font-size: 0.9rem;
            align-items: center;
            border-radius: 20px;
            cursor: pointer;

            svg{
                font-size: 0.6rem;
            }

            &:hover{
                background: #fff;
            }
        }
    }


}