@use "../styles/variables";
@use "sass:map";
@use "./mixins";



$sidebar-width: 22%;

.layout {

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;

    .sidebar {
        width: $sidebar-width;
        height: 100%;
        position: sticky;
        top: 0;
        left: 0;

    }

    .main-content {
        width: calc(100% - $sidebar-width);
        height: 100%;
    
    }

}

.account-layout {

    background: variables.$primary-light;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

    .main-account-content{
        width: 80%;
        margin: auto;
        
    }
    

}