@use "../../styles/mixins";
@use "../../styles/variables";



.dash-page {
    @include mixins.content-page;
}

.help-section {
    width: 70%;
    margin: 3rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 20px;
    border: 1px solid variables.$grey;

    .support-card {
        width: 100%;
        background: variables.$primary-light;
        color: variables.$grey-2;
        padding: 1.2rem;
        border-radius: 1rem;

        h3 {
            color: variables.$secondary-green;
            font-size: 1.8rem;
            margin-bottom: 1.5rem;

        }

        p {
            font-size: 1.1rem;
            margin-bottom: 1.5rem;
        }


        .support-btns {
            width: fit-content;
            display: flex;
            gap: 2rem;


            .support-btn {
                width: fit-content;
                height: fit-content;
                padding: 0.5rem 2rem;
                display: flex;
                align-items: center;
                gap: 15px;
                border-radius: 0.5rem;
            }

            .support-whatsapp-btn {
                background: variables.$primary-green;
                color: #fff;
            }

            .support-email-btn {
                background: variables.$grey;
                color: #000;
            }



        }


    }

    .faq-card {
        margin-top: 2rem;

        h3 {
            color: variables.$dark-green;
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
            font-weight: 500;

        }

        .faq-content {
            width: 100%;
            margin-top: 20px;

            .faq-item {
                border-bottom: 1px solid variables.$primary-green;
                overflow: hidden;
                transition: 0.3s ease;
                margin-bottom: 0.4rem;
                border-radius: 0.5rem;


                .faq-question {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    width: 100%;
                    height: 100%;
                    background: #f5f5f7;
                    border: none;
                    color: variables.$primary-green;
                    font-size: 1.2rem;
                    cursor: pointer;
                    padding: 1rem;
                    font-weight: 500;
                    letter-spacing: 1px;

               
                }



                .faq-answer {
                    overflow: hidden;
                    max-height: 0;
                    transition: max-height 0.35s ease-in-out;

                    p {
                        margin-top: 12px;
                        line-height: 1.5;
                        font-size: 1.1rem;

                    }
                }


                .faq-answer-open{
                    padding: 1.5rem 1rem;

                }


            }

            //  .faq-item-open {
            //         .faq-icon {
            //             background: #fff;
            //             color: #3e867b;
            //         }
            //     }



        }
    }
}