@use "../../../styles/mixins";



$card-bg: #fff;

.product-card {
    width: calc(100% / 2 - 10px);
    background: $card-bg;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    text-align: left;
    height: 75vh;
    margin-bottom: 20px;
    

    .product-img {
        width: 30%;
        // height: 20%;
        border-radius: 15px;

        margin: auto;


        img {
            width: 100%;
            height: 100%;
            // border-radius: 50%;
            // object-fit: cover;
        }
    }

    .product-main {
        padding: 10px 0.7rem;
      
        .product-name {
            font-size: 1.5rem;
            font-weight: 600;
            // margin: auto;
            display: block;
            width: fit-content;
            text-align: left;

        }

        .product-selectors{
            width: 100%;
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
            gap: 20px;
        

        }

        .product-price{
            font-size: 1.5rem;
            margin-bottom: 2rem;
            @include mixins.gradient-text;
        }

    }

    .product-actions{
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
    }





}


// .product-main h3 {
//   margin: 0;
//   font-size: 0.95rem;
// }

// .product-sku {
//   margin: 0.1rem 0;
//   font-size: 0.75rem;
//   color: #9ca3af;
// }

// .product-price,
// .product-commission {
//   margin: 0;
//   font-size: 0.8rem;
// }

// .product-commission strong {
//   color: #15803d;
// }

// .product-actions {
//   display: flex;
//   justify-content: flex-end;
//   gap: 0.5rem;
// }