@use "../../../styles/variables";
@use "sass:map";

.topbar-con {
    width: 100%;
    height: 100%;

    // padding: 15px 0;

    display: flex;


    .topbar-logo {
        width: variables.$sidebar-width;
        background: variables.$primary-dark;
        height: 100%;
        height: variables.$topbar-height;
        padding-left: variables.$padding;

        display: flex;
        align-items: center;
        gap: 0.6rem;
        // margin-bottom: 6rem;

        .logo-dot {
            width: 50px;
            height: 30px;

            // background: linear-gradient(135deg, #22c55e, #22d3ee);

            img {
                width: 100%;
                height: 100%;
            }


        }

        .side-logo-text {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: variables.$primary-light;

        }


    }

    .topbar-content{
        width: calc(100% - variables.$sidebar-width);
        // padding: 10px variables.$padding;

        .topbar-content-inner{
            width: 100%;
            border: 1px solid black;

        }

    }
}