@use "../../styles/variables";


.account-page {
    width: 100%;
    margin: auto;
    padding: 40px 0;
 
    .account-con {
        width: 100%;
        height: 100%;
        display: flex;
        // align-items: center;
        justify-content: space-between;

        .form-intro,
        .form-container {

            padding-top: 1rem;

        }

        .form-intro {
            width: 40%;

            p {
                font-weight: 400;
                font-size: 3.5rem;
                color: variables.$primary-green;
                margin-bottom: 2rem;
            }

            span{
                font-size: 1.2rem;
            }

            .social-account-btns {

                margin-top: 2rem;
                .s-account-btn {
                    width: 100%;
                    padding: 15px;
                    margin-bottom: 15px;
                    border-radius: 10px;
                    border: none;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    background: variables.$grey-3;


                    img {
                        width: 25px;
                        height: 25px;

                    }

                    &:hover{
                       background: variables.$grey;

                    }
                }
            }





        }

        .form-container {
            width: 53%;
            border: 1px solid variables.$secondary-green;
            border-radius: 20px;
            padding: 2rem;

            .form-header {
                h2 {
                    font-weight: 400;
                    font-size: 1.9rem;
                }

                p {
                    font-size: 1.1rem;
                    margin-top: 10px;

                    a {
                        color: #000;
                        text-decoration: underline;

                        &:hover {
                            color: variables.$primary-green;

                        }
                    }
                }
            }

            .form-elements {
                width: 100%;
                margin-top: 2rem;

                .register-input {
                    border: 1px solid variables.$primary-green;
                    background: transparent;
                    border-radius: 5px;
                }

            }

            .account-btn {
                width: fit-content;
                height: fit-content;
                padding: 0.8rem 2rem;
                border-radius: 10px;
                border: none;
                cursor: pointer;

                &:hover{
                    background: variables.$hover-gradient;
                }

            }


            .register-btn {
                background: variables.$gradient;
                color: #fff;
                margin-top: 20px;
                display: block;
            }

        }
    }


}