@use "../../styles/mixins";
@use "../../styles/variables";

.wallet-page {

    @include mixins.page;


    .wallet-page-inner {

        @include mixins.inner-page;


        h2 {
            @include mixins.heading2;
        }

        p {
            font-size: 1.2rem;
        }


        .wallet-grid {

            display: flex;
            gap: 20px;
            flex-wrap: wrap;
                margin: 50px 0;



            .wallet-card {
                margin-bottom: 20px;
                border-radius: 0.9rem;
                padding: 1rem 1rem 1.5rem 1rem;
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
                // align-items: center;



                .wallet-label {
                    font-size: 1.3rem;
                    letter-spacing: 1.2px;
                    // color: #6b7280;
                }

                .wallet-value {
                    display: block;
                    font-size: 1.7rem;
                    font-weight: 700;
                    margin-top: 30px;
                    letter-spacing: 1.2px;

                }

                .wallet-caption {
                    display: block;
                    font-size: 1rem;
                    color: #737a87;
                    margin-top: 20px;

                }

                .request-btn {
                    margin-top: 20px;

                }

                .wallet-note {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 0.8rem;
                    margin-top: 20px;


                    svg {
                        font-size: 1rem;
                        color: rgb(248, 52, 52);
                    }
                }


            }

            .available-card {
                width: 50%;
                border: 1px solid #c8cfde;
                background: #deedfc;
                flex: 1;
            }

            .pending-card {
                width: 40%;
                border: 1px solid #c8cfde;
                background: #d1d2d3;
            }

            .cancelled-card {
                width: 40%;
                border: 1px solid #b6843d;
                background: #dfcdc2;
            }

        }


    }


}